.cursor{
    cursor: pointer !important;
}
.dotted {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 1px dotted #9e9e9e !important;
    border-bottom: 1px dotted #9e9e9e !important;
    transform: translate(0, -50%);
}

.lh-normal {
    line-height: normal !important;
}

.bg-white {
    background-color: white !important;
}
.bg-default {
    background-color: #e8e8e8 !important;
}
.position-absolute {
    position: absolute !important;
}
.height-100 {
    height: 100% !important;
}
.height-inherit {
    height: inherit !important;
}
.position-relative {
    position: relative !important;
}
.width-100 {
    width: 100% !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.right-0 {
    right: 0 !important;
}
.bottom-fix {
    position: fixed;
    bottom: 0;
}

.default-divider {
    position:absolute;
    height:1px;
    background-color:#ddd;
    left: 0;
    right: 0;
    &.in-study {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.padding-divider {
    width: 100%;
    padding-top: calc(5px + 1vw);
}

.btn-darkgray {
    background-color: #b9b9b9 !important;
    color: #ffff !important;
    border-radius: 0 !important;
}

.table-top-border {
    width: 100%;
    height: 0.2rem;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    & + .main-title {
        padding-left: 1rem !important;
    }
}

.switch-left-label {
    .v-input__control {
        flex-grow: 1 !important;
        &>.v-input__slot {
            flex: 1 !important;
            flex-direction: row-reverse !important;
            justify-content: space-between !important;
            padding-left: 2.5rem;
            padding-right: 0.5rem;
            label {
                font-size: 1.1rem !important;
                line-height: 1.1rem !important;
                color: #707070;
                font-weight: bold;
            }
            &:before {
                font: normal normal normal 24px/1 "Material Design Icons";
                content: "\F9DD";
                line-height: 1.1rem ;
                vertical-align: middle;
                position: absolute;
                left: 4%;
                color: #707070;
            }
            @include respond-below(xs) {
                label {
                    position: absolute !important;
                    top: -1rem;
                    left: 25% !important;
                }
                &:before {
                    top: -1rem;
                }
            }
        }
    }

    &.v-input--is-label-active.success--text {
        .v-input__control>.v-input__slot {
            label {
                color: #4caf50; // success color
            }
            &:before {
                color: #4caf50; // success color
            }
        }
    }
}

.left-label-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    .label-control {
        width: auto;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        min-width: 0;
        -webkit-box-pack: justify !important;
        justify-content: space-between !important;
        -webkit-box-orient: horizontal !important;
        padding-left: 2.5rem;
        padding-right: 0.5rem;
        label {
            left: 0px;
            right: auto;
            position: relative;
            font-size: 1.1rem !important;
            line-height: 1.1rem !important;
            color: #707070;
            font-weight: bold;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: inline-flex;
            top: 0;
            height: auto;

            i {
                position: absolute;
                right: 1rem;
            }
        }
        &:before {
            font: normal normal normal 24px/1 "Material Design Icons";
            content: "\F9DD";
            line-height: 1.1rem ;
            vertical-align: middle;
            position: absolute;
            left: 4%;
            color: #707070;
        }
    }
}

.before-divider {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 4%;
        height: 96%;
        width: 1px;
        border-left: 1px solid #ccc;
    }
}

.custom-table {
    .v-data-table-header {
        background-color: #f4f4f4;
    }
}

.custom-btn-group {
    border-radius: 8px !important;
    border: 1px solid #4caf50 !important;
    .success {
        border: 0 !important;
        font-size: 1rem !important;
        &.v-item--active {
            background-color: white !important;
            color: inherit !important;
            font-weight: bold;
        }
    }

    & > .v-btn.v-btn:first-child {
        border-top-left-radius: 6px !important;;
        border-bottom-left-radius: 6px !important;;
    }
    & > .v-btn.v-btn:last-child {
        border-top-right-radius: 6px !important;;
        border-bottom-right-radius: 6px !important;;
    }
}

.before-doticon{
    position: relative;
    &:before {
        content: "";
        position:absolute;
        width: 12px;
        height: 32%;
        top: 18%;
        left: 8px;
        border-left: 1px dotted  #9e9e9e;
        border-bottom: 1px dotted  #9e9e9e;
    }
}

.border-b-1-grey {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.border-t-1-grey {
    border-top: 1px solid rgba(0,0,0,0.12);
}

.v-data-table__expanded.v-data-table__expanded__content {
    .before-doticon:before {
        content: "";
        position:absolute;
        width: 12px;
        height: 32%;
        top: 18%;
        left: -12px;
        border-left: 1px dotted  #9e9e9e;
        border-bottom: 1px dotted  #9e9e9e;
    }
}
