

.deepdark {
    &.v-btn {
        background-color: #505050 !important;
    }
}

.v-btn {


}

.v-input {
     &.v-text-field.v-text-field--single-line.v-text-field--outlined {
        .v-input__slot {
            height: calc( 2.5 * 1rem ) !important;
            min-height: calc( 2.5 * 1rem ) !important;
            .v-label {
                font-size: 1rem !important;
                top: calc( 1.3rem - 10px ) !important;
            }
        }
     }

}

.v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    @include respond-below(sm) {
      display: block !important;
      padding-left: 0.5rem;
    }
}

.v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: none !important;
    tr:last-child td {
        border-bottom: none !important;
    }
    tr:first-child td:first-child{
        border-bottom: none !important;
    }

    tr:hover {
        background: unset !important;
    }
}

tr.v-data-table__expanded.v-data-table__expanded__row {
    background-color: #E3F2FD !important
}

.theme--light.v-btn.v-btn--disabled.disabled-bg-grey {
    background-color: rgba(0, 0, 0, 0.05) !important;
}
