$base-font-xs : 11;
$base-font-sm : 12.5;
$base-font-md : 14;
$base-font-lg : 15.5;

$breakpoints: (
    xs : 600px,
    sm : 960px,
    md : 1264px,
    lg : 1904px
);

@import "_mixins";
@import "_common";
@import "_customize";
@import "layouts/index";
@import "views/index";
@import "fonts";

// font-family
$body-font-family: 'NanumSquare', san-serif;
#app, .v-application {
    font-family: 'NanumSquare', san-serif !important;
}
.v-application .v-application--wrap #headerdefault .v-toolbar__content{
    font-family: 'NanumSquare', san-serif !important;
}

.v-application .v-card .v-card__title.headline b {
    font-family: 'NanumSquare', san-serif !important;
}
.msfont {
	font-family: 'Inconsolata', monospace, 'NanumSquare', san-serif !important;
}
// end font-family

html {
    @include respond-below(xs) {
      font-size: $base-font-xs + px !important;
      line-height: ($base-font-xs + ($base-font-xs/5)) + px !important;
    }
    @include respond-between(xs,sm) {
      font-size: $base-font-sm + px !important;
      line-height: ($base-font-sm + ($base-font-sm/5)) + px !important;
    }
    @include respond-between(sm,md) {
      font-size: $base-font-md + px !important;
      line-height: ($base-font-md + ($base-font-md/5)) + px !important;
    }
    @include respond-between(md,lg) {
      font-size: $base-font-lg + px !important;
      line-height: ($base-font-lg + ($base-font-lg/5)) + px !important;
    }
}
