#headerdefault{
    .v-tabs{
        width: 68%;
        .v-slide-group__content{
            width: 100%;
        }
    }
    .v-tab{
        min-width: 16.6%;
        padding: 0;
        text-decoration: none;
    }
    .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--dark.v-tabs > .v-tabs-bar .v-tab--disabled{
        color: rgb(158, 158, 158);
    }
    .v-tab--active::before{
        background: white;
        caret-color: white;
    }
    .v-tab[aria-selected=true]{
        color: black;
    }
}
