$base-font-xs : 11;
$base-font-sm : 12.5;
$base-font-md : 14;
$base-font-lg : 15.5;

$breakpoints: (
    xs : 600px,
    sm : 960px,
    md : 1264px,
    lg : 1904px
);

@import "../_mixins";
@import "main";
@import "schedule/index";
@import "study/index";

#adminindexvue {
    .main-title {
        font-size: 1.1rem;
        line-height: 6vh;
        height: 6vh;
        font-weight: 800;
        padding: 0;
        border: 1px solid #ffffff !important;
        border-top-color: #e2e2e2 !important;
        border-bottom-color: #e2e2e2 !important;

        &:first-child {
            border-top-color: #ffffff !important;
        }

    }

    .user_name {
        position: relative;   
    }

    .mt-arrow{
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        a.v-btn{
            height: inherit !important;
        }
    }

    .row{
        .top-col
            .v-card{
                min-height: 36.5vh;
                max-height: 36.5vh;
                margin-bottom: 2.2vh;
                @include respond-above(sm) {
                    min-height: 35vh;
                    max-height: 35vh;
                    margin-bottom: 1vh;
                }
            }

        .bot-col{
            .v-card{
                min-height: 48.5vh;
                max-height: 48.5vh;
                @include respond-above(sm) {
                    min-height: 45.5vh;
                    max-height: 45.5vh;
                }
            }
        }
    }


}
