#admin-main {
    .main-col {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;

        .v-card {
            min-height: 85.2vh;
            position: relative;
            @include respond-above(sm) {
                min-height: 81vh;
            }

            .main-title {
                font-size: 1.1rem;
                line-height: 6vh;
                height: 6vh;
                font-weight: 800;
                padding: 0;
                border: 1px solid #ffffff !important;
                border-top-color: #e2e2e2 !important;
                border-bottom-color: #e2e2e2 !important;

                &:first-child {
                    border-top-color: #ffffff !important;
                }

            }

            .main-student-info-wrap {
                div.col-sm-5 {
                    padding-top: 1.2vh;
                    padding-bottom: 1.2vh;
                    padding-left: 2.2rem;
                    padding-right: 1.2rem;
                    .main-student-info-img {
                        width: inherit;
                        border: 1px solid #eee;
                        .info-img {
                            height: 10vh;
                            width: 100%;
                        }
                    }
                }
                div.col-sm-7 {
                    padding-top: 1.2vh;
                    padding-bottom: 1.2vh;
                    padding-left: 0;
                    padding-right: 2.2rem;
                    .main-student-info-text {
                        border: 1px solid #ccc;
                        height: 100%;
                        .academy_name {
                            height: 50%;
                            border-bottom: 1px solid #ccc;
                        }
                        .user_name {
                            height: 50%;
                        }
                    }
                }
            }

            .main-nav-buttons-1 {
                padding-top: 1.2vh;
                padding-bottom: 1.2vh;
                padding-left: 2.2rem;
                padding-right: 2.2rem;
                div.col-sm-6 {
                    border: 1px solid #ccc;
                    height: 12vh;
                    padding: 0;
                    a {
                        height: inherit !important;
                    }
                    &:nth-child(even) {
                        border-left: none;
                    }
                    &:nth-child(n+3) {
                        border-top: none;
                    }
                }
            }

            .main-footer-padding {
                width: 100%;
                padding-bottom: 6vh;
            }

            .main-footer {
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 6vh;
                line-height: 6vh;
                vertical-align: middle;
            }

            .main-study {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
                .col-sm-6 {
                    padding-top: 1.2vh;
                    padding-bottom: 0;
                    .main-study-btn-1 {
                        border-top: 1px solid #e2e2e2;
                        padding-top: 2vh;
                        .v-btn.xx-large-btn {
                            font-size: 1.3rem !important;
                            height: 6.8vh !important;
                        }
                    }
                }

            }
            .main-notice {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
            }
        }
    }
}

.main-table {
    .v-data-table.v-data-table--dense {
        .v-data-table__wrapper {
            width: 100%;
        }

        td {
            font-size: 0.9rem !important;
            line-height: 6vh;
            height: 6vh !important;
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:first-child {
                text-align: center;
            }
            &:nth-child(n+2) {

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 2vh;
                    height: 2vh;
                    width: 1px;
                    border-left: 1px solid #ccc;
                }
            }
            &.book-name {
                padding-right: 0;
            }
            &.unit-name{
                &:before {
                    content: none !important;
                    display: none;
                }
            }
        }
    }
}
