.v-stepper__items {
    .v-stepper__content {
        padding: 0 !important;
        .v-stepper__wrapper {
            .v-card {
                // min-height: calc(80vh - 72px);
            }
            
        }
    }
}

.in-study-module-control {
    
    &.in-listening, &.in-matching {
        max-height: 13vh;
        width: 100%; 
        text-align: center;
        
        & .o-x-display-wrapper {
            line-height: 13vh; 
        }
    }
    
    &.in-dictation {
        min-height: 30vh;
        max-height: 30vh;
        width: 100%;
    }
}

.study-module-arrow.v-btn.v-btn--absolute.v-btn--flat.v-btn--icon.v-btn--text.v-size--x-large {
    top: calc(50vh - 36px);
    width: 5.4rem !important;
    height: 5.4rem !important;
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    & > .v-btn__content > .v-icon.mdi {
        font-size: 5.4rem !important;
        width: 5.4rem !important;
        height: 5.4rem !important;
    }
}
