#classvue{
    table thead tr th.text-start span::before{
        content: '조회';
    }
    .v-overflow-btn .v-input__control::before{
        height: 0;
    }

    .searchdiv{
        .v-input .v-input__control .v-input__slot{
            box-shadow: none;
        }
    }

    .optiondiv{
        .v-input__slot[role=combobox]{
            padding: 0;
            box-shadow: none;
        }
        .v-overflow-btn .v-input__control::before{
            height: 0;
        }
    }

    .v-data-table {
        thead {
            th {
                height: 35px; background-color: #eeeeee; border-top: none;
                span{
                    font-weight: 800;
                }
            }
        }
        tr.v-data-table__expanded.v-data-table__expanded__row {
            background-color: #E3F2FD !important;
            td:not(:nth-child(5)){
                color: deepskyblue !important;
                span{
                    color: deepskyblue !important;
                }
            }
            td:nth-child(5){
                color: red;
            }
        }
        td { height: 35px; }
    }
}
