#studentopervue{
    .v-overflow-btn .v-input__control::before{
        height: 0;
    }
    .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--dark.v-tabs > .v-tabs-bar .v-tab--disabled{
        color: gray;
    }

    .v-slide-group__wrapper .v-slide-group__content{
        border-bottom: 1px solid lightgray;
    }

    .v-tabs-slider-wrapper{
        height: 3px !important;
        bottom: -2px;
    }
}
